/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700");
@font-face {
  font-family: 'icon';
  src: url("../fonts/icons/icon.eot?au56gr");
  src: url("../fonts/icons/icon.eot?au56gr#iefix") format("embedded-opentype"), url("../fonts/icons/icon.ttf?au56gr") format("truetype"), url("../fonts/icons/icon.woff?au56gr") format("woff"), url("../fonts/icons/icon.svg?au56gr#icon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-instagram:before {
  content: "\e905"; }

.icon-facebook:before {
  content: "\e900"; }

.icon-gplus:before {
  content: "\e901"; }

.icon-linkedin:before {
  content: "\e902"; }

.icon-twitter:before {
  content: "\e903"; }

.icon-youtube:before {
  content: "\e904"; }

/* Forms */
input[type=text].form-control,
input[type=email].form-control,
input[type=password].form-control,
input[type=tel].form-control,
textarea.form-control {
  border: 1px solid #a5b8c2;
  height: 50px;
  border-radius: 0;
  padding: 0 13px;
  font-size: 15px; }
  input[type=text].form-control.invalid,
  input[type=email].form-control.invalid,
  input[type=password].form-control.invalid,
  input[type=tel].form-control.invalid,
  textarea.form-control.invalid {
    border-color: red; }

textarea.form-control {
  padding: 10px 13px;
  height: 150px;
  resize: vertical; }

.file-upload {
  display: block;
  position: relative;
  height: 100px;
  cursor: pointer; }
  .file-upload .fu-placeholder {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px dashed #adadad;
    background: #e2e8eb;
    cursor: pointer; }
    .file-upload .fu-placeholder span {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      max-width: 90%;
      max-height: 90%;
      text-align: center;
      font-size: 15px;
      color: #424242; }
  .file-upload input[type=file] {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 999px;
    z-index: 4;
    cursor: pointer;
    width: 100%;
    overflow: hidden; }
    .file-upload input[type=file].invalid + .fu-placeholder {
      border-color: red;
      background: rgba(255, 0, 0, 0.1); }
    .file-upload input[type=file].invalid ~ .help-block {
      position: relative;
      top: 105px; }
  .file-upload.is-dragover input[type=file].invalid + .fu-placeholder, .file-upload.is-dragover .fu-placeholder {
    background: #c4d0d6;
    border-style: solid; }

.help-block.error {
  color: red;
  display: none; }

.invalid ~ .help-block.error {
  display: block; }

#system-message-container {
  display: none !important; }

.select-placeholder {
  display: none; }

/* Common and utility classes. */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.hide {
  display: none; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.thin {
  font-weight: 300; }

.light {
  font-weight: 100; }

img.img-responsive {
  max-width: 100%;
  height: auto; }

.mg-all {
  margin: 10px; }

.mg-top {
  margin-top: 10px; }

.mg-right {
  margin-right: 10px; }

.mg-bottom {
  margin-bottom: 10px; }

.mg-left {
  margin-left: 10px; }

.mg-0 {
  margin: 0; }

.mg-top-0 {
  margin-top: 0; }

.mg-right-0 {
  margin-right: 0; }

.mg-bottom-0 {
  margin-bottom: 0; }

.mg-left-0 {
  margin-left: 0; }

/* Base. */
body,
html {
  width: 100%;
  height: 100%; }

a, .btn {
  cursor: pointer; }

body {
  font-family: 'Poppins', sans-serif;
  background: #f2f6f7;
  min-width: 320px;
  overflow: auto; }

.cont {
  max-width: 880px;
  padding: 0 10px;
  margin: 0 auto; }

.page-header {
  display: none; }

/* Widgets. */
/* Icons. */
/* Buttons. */
.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 14px 20px;
  position: relative;
  min-width: 226px; }
  @media (max-width: 600px) {
    .btn {
      padding: 10px 15px;
      min-width: 180px; } }

.btn-action, .btn-black {
  background: #86ac01;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 300;
  border: 2px solid #fff; }
  @media (max-width: 600px) {
    .btn-action, .btn-black {
      font-size: 16px; } }
  .btn-action:hover, .btn-black:hover {
    background: #729301;
    color: #fff; }
  .btn-action:active, .btn-black:active {
    background: #729301;
    color: #fff;
    box-shadow: inset 0 3px 15px rgba(0, 0, 0, 0.5); }
  .btn-action:focus, .btn-black:focus {
    color: #fff; }
  .btn-action.with-rarr, .btn-black.with-rarr {
    padding: 14px 40px 14px 20px; }
    @media (max-width: 600px) {
      .btn-action.with-rarr, .btn-black.with-rarr {
        padding: 10px 32px 10px 15px; } }
    .btn-action.with-rarr .rarr, .btn-black.with-rarr .rarr {
      position: absolute;
      right: 15px;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
      @media (max-width: 600px) {
        .btn-action.with-rarr .rarr, .btn-black.with-rarr .rarr {
          right: 12px; } }
      .btn-action.with-rarr .rarr:after, .btn-black.with-rarr .rarr:after {
        content: "";
        display: block;
        width: 14px;
        height: 14px;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }

.btn-back {
  color: #424242;
  font-size: 18px;
  text-decoration: none;
  padding: 14px 0;
  min-width: auto; }
  @media (max-width: 600px) {
    .btn-back {
      font-size: 14px; } }
  .btn-back:hover {
    text-decoration: underline; }
  .btn-back:active {
    text-decoration: underline; }
  .btn-back:focus {
    text-decoration: underline; }
  .btn-back.with-larr {
    padding: 14px 0 14px 25px; }
    .btn-back.with-larr .larr {
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
      .btn-back.with-larr .larr:after {
        content: "";
        display: block;
        width: 14px;
        height: 14px;
        border-left: 2px solid #424242;
        border-top: 2px solid #424242;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }

.btn-cancel {
  color: #86ac01;
  font-size: 20px;
  padding: 14px 0;
  min-width: auto;
  text-decoration: underline; }
  @media (max-width: 600px) {
    .btn-cancel {
      font-size: 14px; } }
  .btn-cancel:hover {
    text-decoration: none;
    color: #86ac01; }
  .btn-cancel:active {
    text-decoration: none;
    color: #86ac01; }
  .btn-cancel:focus {
    text-decoration: none;
    color: #86ac01; }

.btn-bordered {
  background: #fff;
  color: #86ac01;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 300;
  border: 1px solid #86ac01; }
  @media (max-width: 600px) {
    .btn-bordered {
      font-size: 16px; } }
  .btn-bordered:hover {
    background: #86ac01;
    color: #fff; }
  .btn-bordered:active {
    background: #86ac01;
    color: #fff;
    box-shadow: inset 0 3px 15px rgba(0, 0, 0, 0.5); }
  .btn-bordered.with-rarr {
    padding: 14px 40px 14px 20px; }
    @media (max-width: 600px) {
      .btn-bordered.with-rarr {
        padding: 10px 32px 10px 15px; } }
    .btn-bordered.with-rarr .rarr {
      position: absolute;
      right: 15px;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
      @media (max-width: 600px) {
        .btn-bordered.with-rarr .rarr {
          right: 12px; } }
      .btn-bordered.with-rarr .rarr:after {
        content: "";
        display: block;
        width: 14px;
        height: 14px;
        border-right: 2px solid #86ac01;
        border-bottom: 2px solid #86ac01;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    .btn-bordered.with-rarr:hover .rarr:after {
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff; }

/* Modals */
/* Header. */
.header {
  display: block;
  position: fixed;
  left: 50%;
  top: 0;
  max-width: 1440px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  z-index: 50; }
  .header .header-cont {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    height: 90px;
    background: #fff;
    border: none;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15), 0 3px 0 rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.05); }
    @media (max-width: 800px) {
      .header .header-cont {
        height: 60px; } }
  .scroll-center .header .header-cont, .scroll-bottom .header .header-cont {
    border: none;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15), 0 3px 0 rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.05); }
  .header .header-menu {
    display: none;
    position: absolute;
    right: 30px;
    top: 0;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase; }
    .header .header-menu ul {
      list-style: none;
      margin: 0;
      padding: 0;
      line-height: 90px; }
      .header .header-menu ul li {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        height: 39px;
        height: 39px;
        line-height: 39px; }
        .header .header-menu ul li a {
          display: inline-block;
          vertical-align: middle;
          line-height: 39px;
          color: #022666;
          padding: 0 9px;
          position: relative; }
          .header .header-menu ul li a:hover {
            background: #c6dffe;
            text-decoration: none; }
          .header .header-menu ul li a.selected:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 15px;
            height: 11px;
            background: url("../img/hm-selected.png") no-repeat; }
        .header .header-menu ul li.active > a:before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 15px;
          height: 11px;
          background: url("../img/hm-selected.png") no-repeat; }
        .header .header-menu ul li .hover-menu, .header .header-menu ul li .nav-child {
          display: none;
          position: absolute;
          left: 0;
          top: 100%;
          background: #c6dffe;
          padding: 12px 0;
          white-space: nowrap;
          border-radius: 0;
          border: none;
          margin: 0;
          box-shadow: none; }
          .header .header-menu ul li .hover-menu li, .header .header-menu ul li .nav-child li {
            display: block;
            margin: 0;
            padding: 0;
            height: auto; }
            .header .header-menu ul li .hover-menu li.active > a:before, .header .header-menu ul li .nav-child li.active > a:before {
              content: "";
              display: block;
              position: absolute;
              left: 0;
              top: auto;
              bottom: 0;
              width: 100%;
              height: 2px;
              background: #86ac01; }
          .header .header-menu ul li .hover-menu a, .header .header-menu ul li .nav-child a {
            font-size: 15px;
            font-weight: normal;
            display: block;
            line-height: 30px;
            text-transform: none;
            position: relative; }
            .header .header-menu ul li .hover-menu a:hover, .header .header-menu ul li .nav-child a:hover {
              background: #426084;
              color: #fff; }
        .header .header-menu ul li:hover > a {
          background: #c6dffe;
          text-decoration: none; }
        .header .header-menu ul li:hover .hover-menu, .header .header-menu ul li:hover .nav-child {
          display: block; }
    .header .header-menu .dropdown {
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
      position: relative; }
      .header .header-menu .dropdown .dropdown-menu {
        background: #c6dffe;
        padding: 12px 0;
        white-space: nowrap;
        border-radius: 0;
        border: none;
        margin: 0;
        box-shadow: none; }
        .header .header-menu .dropdown .dropdown-menu a {
          font-size: 15px;
          font-weight: normal;
          display: block;
          line-height: 30px;
          text-transform: none; }
          .header .header-menu .dropdown .dropdown-menu a:hover {
            background: #426084;
            color: #fff; }
      .header .header-menu .dropdown.open > a {
        background: #c6dffe;
        text-decoration: none; }
    @media (min-width: 1020px) {
      .header .header-menu {
        display: block; } }
    @media (min-width: 1120px) {
      .header .header-menu ul li + li {
        margin-left: 23px; } }
  .header .logo {
    display: block;
    position: absolute;
    left: 30px;
    top: 33px; }
    @media (max-width: 800px) {
      .header .logo {
        top: 18px; } }
  .header .show-mobile-menu {
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 20px;
    height: 18px;
    display: block; }
    .header .show-mobile-menu span, .header .show-mobile-menu:after, .header .show-mobile-menu:before {
      content: "";
      display: block;
      width: 20px;
      height: 2px;
      background: #022666;
      position: absolute;
      left: 0;
      top: 8px; }
    .header .show-mobile-menu:after {
      top: 16px; }
    .header .show-mobile-menu:before {
      top: 0; }
    .header .show-mobile-menu:hover {
      opacity: 0.5; }
    @media (min-width: 1020px) {
      .header .show-mobile-menu {
        display: none; } }

.header-menu-mobile {
  position: fixed;
  left: 0;
  top: -50%;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 40px 0 10px;
  z-index: 99;
  display: block;
  transition: top 300ms ease-out;
  max-height: 50%;
  overflow: auto; }
  @media (min-width: 1020px) {
    .header-menu-mobile {
      display: none; } }
  body.mobile-menu-open .header-menu-mobile {
    top: 0;
    max-height: none; }
  .header-menu-mobile ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .header-menu-mobile ul li {
      display: block; }
      .header-menu-mobile ul li .nav-child {
        display: none; }
      .header-menu-mobile ul li a {
        display: block;
        vertical-align: middle;
        line-height: 30px;
        color: #022666;
        padding: 0 10px;
        font-weight: bold;
        text-transform: uppercase;
        position: relative; }
        .header-menu-mobile ul li a:hover {
          background: #c6dffe;
          text-decoration: none; }
        .header-menu-mobile ul li a:focus {
          text-decoration: none; }
        .header-menu-mobile ul li a.selected:after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background: #86ac01; }
  .header-menu-mobile .collapse-block .collapse-menu a {
    padding: 0 10px 0 10px;
    margin-left: 20px; }
  .header-menu-mobile .hide-mobile-menu {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    display: block; }
    .header-menu-mobile .hide-mobile-menu:after, .header-menu-mobile .hide-mobile-menu:before {
      content: "";
      display: block;
      width: 20px;
      height: 2px;
      background: #022666;
      position: absolute;
      left: 0;
      top: 9px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .header-menu-mobile .hide-mobile-menu:after {
      left: 0;
      top: 9px;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .header-menu-mobile .hide-mobile-menu:hover {
      opacity: 0.5; }

/* Footer. */
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 340px;
  background: #0c1e2f; }
  .footer .moduletable {
    height: 100%; }
  .footer .custom {
    height: 100%; }
  @media (max-width: 1000px) {
    .footer {
      position: relative;
      height: auto; } }
  .footer .footer-cont {
    max-width: 984px;
    margin: 0 auto;
    padding: 70px 10px 0;
    position: relative;
    height: 100%; }
    @media (max-width: 1000px) {
      .footer .footer-cont {
        padding-bottom: 80px; } }
  .footer .promo-text {
    display: block;
    color: #fff;
    margin-bottom: 33px; }
    .footer .promo-text h5 {
      line-height: 1;
      font-size: 28px;
      font-weight: 600;
      margin: 0 0 5px;
      padding: 0;
      text-transform: uppercase; }
    .footer .promo-text p {
      display: block;
      margin: 0;
      padding: 0;
      font-size: 18px;
      color: #5ea1cc; }
  .footer .copyright {
    position: absolute;
    left: 0;
    bottom: 50px;
    color: #5d94c2;
    font-size: 12px; }
    @media (max-width: 1000px) {
      .footer .copyright {
        position: relative;
        bottom: auto;
        margin-top: 30px; } }
  .footer .social {
    position: absolute;
    right: 10px;
    bottom: 46px;
    line-height: 1;
    font-size: 14px; }
    @media (max-width: 1000px) {
      .footer .social {
        bottom: 25px;
        right: 15px; } }
    .footer .social a {
      display: inline-block;
      vertical-align: middle;
      color: #fff; }
      .footer .social a:hover {
        color: #5d94c2;
        text-decoration: none; }
      .footer .social a + a {
        margin-left: 9px; }
    .footer .social .icon-facebook {
      font-size: 20px; }
    .footer .social .icon-linkedin {
      font-size: 17px;
      position: relative;
      top: -2px; }

.contact-us-icon {
  display: none;
  position: fixed;
  left: 50%;
  bottom: 0;
  max-width: 1440px;
  width: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #000; }
  .contact-us-icon .cont {
    max-width: 1160px;
    margin: 0 auto;
    position: relative; }
  .contact-us-icon a {
    display: block;
    position: absolute;
    right: 10px;
    bottom: 220px;
    width: 60px;
    height: 60px;
    background: url("../img/contact-us-icon.png") no-repeat;
    background-size: cover;
    transition: all 300ms ease-out; }
    .contact-us-icon a:hover {
      opacity: 0.7; }
    @media (max-width: 1200px) {
      .contact-us-icon a {
        bottom: 120px; } }
    @media (max-width: 1000px) {
      .contact-us-icon a {
        bottom: 130px; } }
    @media (max-width: 600px) {
      .contact-us-icon a {
        bottom: 135px; } }
    @media (max-width: 400px) {
      .contact-us-icon a {
        bottom: 150px;
        width: 40px;
        height: 40px; } }
  .scroll-top .contact-us-icon {
    display: none; }
  .scroll-center .contact-us-icon {
    display: block; }
    .scroll-center .contact-us-icon a {
      bottom: 20px; }
  .scroll-bottom .contact-us-icon {
    display: block; }

/* Main. */
.wrapper {
  display: block;
  margin: 0 auto;
  min-height: 100%;
  max-width: 1440px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 90px 0 340px;
  position: relative; }
  @media (max-width: 1000px) {
    .wrapper {
      padding-bottom: 0; } }
  @media (max-width: 800px) {
    .wrapper {
      padding-top: 60px; } }

.main-slider {
  display: block;
  width: 100%;
  height: 593px;
  overflow: hidden;
  position: relative; }
  @media (max-width: 800px) {
    .main-slider {
      height: auto; } }
  .main-slider ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .main-slider .slide {
    display: block;
    height: 593px;
    padding: 0 90px;
    background-size: cover; }
    .main-slider .slide .sl-h, .main-slider .slide .sl-text {
      padding-top: 125px;
      display: block;
      font-size: 76px;
      max-width: 660px;
      font-weight: bold;
      color: #fff;
      text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.7);
      text-transform: uppercase;
      line-height: 1; }
      .main-slider .slide .sl-h .small, .main-slider .slide .sl-text .small {
        font-size: 30px; }
      @media (max-width: 800px) {
        .main-slider .slide .sl-h, .main-slider .slide .sl-text {
          font-size: 56px;
          max-width: 430px;
          padding-top: 40px; }
          .main-slider .slide .sl-h .small, .main-slider .slide .sl-text .small {
            font-size: 25px; } }
      @media (max-width: 600px) {
        .main-slider .slide .sl-h, .main-slider .slide .sl-text {
          padding-top: 38px;
          font-size: 40px; } }
      .main-slider .slide .sl-h.dark, .main-slider .slide .sl-text.dark {
        color: #426084; }
    .main-slider .slide .sl-text {
      padding-top: 38px;
      font-size: 30px;
      max-width: none; }
      @media (max-width: 800px) {
        .main-slider .slide .sl-text {
          font-size: 25px; } }
      @media (max-width: 600px) {
        .main-slider .slide .sl-text {
          font-size: 20px;
          padding-top: 20px; } }
    .main-slider .slide .btn-action {
      margin-top: 85px; }
      @media (max-width: 800px) {
        .main-slider .slide .btn-action {
          margin-top: 30px; } }
    @media (max-width: 620px) {
      .main-slider .slide {
        padding: 0 20px; } }
    @media (max-width: 800px) {
      .main-slider .slide {
        height: 390px;
        padding-bottom: 60px; } }
    @media (max-width: 600px) {
      .main-slider .slide {
        height: 320px; } }
    @media (max-width: 400px) {
      .main-slider .slide {
        height: 345px; } }
  .main-slider .slider-next, .main-slider .slider-prev {
    position: absolute;
    left: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 10;
    width: 42px;
    height: 61px;
    background: url("../img/slider-arrow.png") center center no-repeat;
    opacity: 0.43; }
    .main-slider .slider-next .bx-next, .main-slider .slider-next .bx-prev, .main-slider .slider-prev .bx-next, .main-slider .slider-prev .bx-prev {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0; }
    .main-slider .slider-next:hover, .main-slider .slider-prev:hover {
      opacity: 1; }
    @media (max-width: 620px) {
      .main-slider .slider-next, .main-slider .slider-prev {
        display: none; } }
  .main-slider .slider-next {
    -webkit-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg);
    left: auto;
    right: 20px; }
  .main-slider .slider-pager {
    position: absolute;
    z-index: 10;
    left: 50%;
    bottom: 20px;
    white-space: nowrap;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
    .main-slider .slider-pager a {
      display: inline-block;
      vertical-align: middle;
      color: #fff;
      font-size: 20px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid #fff;
      background: rgba(255, 255, 255, 0.5); }
      .main-slider .slider-pager a.active {
        background: #fff; }
      .main-slider .slider-pager a + a {
        margin-left: 20px; }

.devtype {
  display: block;
  background: #ffffff;
  padding: 65px 0 55px; }
  @media (max-width: 600px) {
    .devtype {
      padding: 30px 0 25px; } }
  .devtype h4 {
    font-size: 34px;
    color: #012762;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    padding: 0;
    margin: 0 0 43px;
    text-transform: uppercase; }
    @media (max-width: 600px) {
      .devtype h4 {
        font-size: 28px;
        margin-bottom: 15px; } }
  .devtype p {
    font-size: 18px;
    color: #424242;
    font-weight: 300;
    line-height: 1.7;
    text-align: center; }
    @media (max-width: 600px) {
      .devtype p {
        font-size: 16px; } }
  .devtype .types {
    margin-top: 45px;
    display: block;
    text-align: center; }
    .devtype .types .t-block {
      display: inline-block;
      vertical-align: top;
      width: 197px;
      margin: 0 20px 20px; }
      @media (max-width: 600px) {
        .devtype .types .t-block {
          width: auto;
          max-width: 360px; } }
      .devtype .types .t-block .tb-icon {
        display: block;
        margin: 0 auto 25px;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        box-shadow: -4px 4px 24px rgba(0, 39, 71, 0.2);
        position: relative; }
        @media (max-width: 600px) {
          .devtype .types .t-block .tb-icon {
            width: 130px;
            height: 130px; } }
        .devtype .types .t-block .tb-icon img {
          position: absolute;
          left: 50%;
          top: 50%;
          max-width: 90%;
          max-height: 90%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); }
      .devtype .types .t-block .tb-title {
        font-size: 20px;
        color: #000;
        font-weight: bold;
        line-height: 1.15;
        margin-bottom: 10px;
        text-transform: uppercase; }
      .devtype .types .t-block .tb-text {
        text-align: left;
        font-size: 15px;
        color: #424242;
        line-height: 1.6; }
      .devtype .types .t-block .tb-link {
        display: block;
        margin-top: 10px;
        text-align: left; }
        .devtype .types .t-block .tb-link a {
          font-size: 15px;
          font-weight: bold;
          color: #86ac01; }
    @media (max-width: 1000px) {
      .devtype .types {
        max-width: 700px;
        margin: 45px auto 0; } }

.devproc {
  display: block;
  background: #e2e8eb;
  padding: 65px 0; }
  @media (max-width: 600px) {
    .devproc {
      padding: 30px 0; } }
  .devproc h4 {
    font-size: 34px;
    color: #012762;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    padding: 0;
    margin: 0 0 35px;
    text-transform: uppercase; }
    @media (max-width: 600px) {
      .devproc h4 {
        font-size: 28px;
        margin-bottom: 15px; } }
  .devproc p {
    font-size: 18px;
    color: #424242;
    font-weight: 300;
    line-height: 1.7;
    text-align: center; }
    @media (max-width: 600px) {
      .devproc p {
        font-size: 16px; } }
  .devproc .dp-plan {
    padding: 25px 10px 0;
    text-align: center; }
    .devproc .dp-plan img {
      max-width: 100%;
      margin-bottom: 50px; }
    .devproc .dp-plan .tipsy {
      font-size: 12px;
      color: #000000; }
  .devproc.challenge h4 {
    font-size: 30px; }

.clients {
  display: block;
  background: #fff;
  padding: 65px 0; }
  .clients h4 {
    font-size: 34px;
    color: #012762;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    padding: 0;
    margin: 0 0 35px;
    text-transform: uppercase; }
    @media (max-width: 600px) {
      .clients h4 {
        font-size: 28px;
        margin-bottom: 10px; } }
  .clients .cl-list {
    display: block;
    max-width: 1160px;
    margin: 0 auto;
    text-align: center; }
    .clients .cl-list .client-logo {
      display: inline-block;
      vertical-align: middle;
      opacity: 0.3;
      width: 200px;
      height: 90px;
      position: relative;
      text-align: center;
      margin: 0 13px 10px; }
      @media (max-width: 600px) {
        .clients .cl-list .client-logo {
          width: 36%;
          margin: 0 4% 10px; } }
      .clients .cl-list .client-logo img {
        position: absolute;
        left: 50%;
        top: 50%;
        max-width: 100%;
        max-height: 100%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
  .clients .cl-btn {
    display: block;
    text-align: center;
    margin: 40px 0 0; }

.reviews {
  display: block;
  background: #e2e8eb;
  padding: 65px 0 100px; }
  @media (max-width: 768px) {
    .reviews {
      padding-bottom: 65px; } }
  @media (max-width: 600px) {
    .reviews {
      padding: 30px 0; } }
  .reviews h4 {
    font-size: 34px;
    color: #012762;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    padding: 0;
    margin: 0 0 43px;
    text-transform: uppercase; }
    @media (max-width: 600px) {
      .reviews h4 {
        font-size: 28px; } }
  .reviews .review {
    max-width: 1050px;
    padding: 0 40px 0 340px;
    margin: 0 auto;
    position: relative;
    min-height: 238px; }
    .reviews .review .rev-img {
      position: absolute;
      left: 10px;
      top: 0;
      width: 238px;
      height: 238px;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: -4px 4px 24px rgba(0, 39, 71, 0.2); }
      .reviews .review .rev-img img {
        width: 100%;
        height: 100%; }
    .reviews .review .rev-text {
      display: block;
      text-align: center;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.5;
      position: relative;
      padding-top: 35px; }
      .reviews .review .rev-text:after, .reviews .review .rev-text:before {
        content: "";
        display: block;
        width: 32px;
        height: 26px;
        background: url("../img/quotes.png") center center no-repeat;
        position: absolute;
        left: -40px;
        top: 15px; }
      .reviews .review .rev-text:after {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
        left: auto;
        top: auto;
        right: -40px;
        bottom: -20px; }
    .reviews .review .rev-cred {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      padding-left: 30px;
      margin-top: 35px; }
    @media (max-width: 768px) {
      .reviews .review {
        padding-left: 220px; }
        .reviews .review .rev-img {
          width: 150px;
          height: 150px; } }
    @media (max-width: 510px) {
      .reviews .review {
        padding-left: 45px;
        padding-right: 45px; }
        .reviews .review .rev-img {
          position: relative;
          left: auto;
          top: auto;
          width: 150px;
          height: 150px;
          margin: 0 auto; }
        .reviews .review .rev-text {
          font-size: 16px; }
        .reviews .review .rev-cred {
          font-size: 16px; } }

.top-banner, .bot-banner {
  display: block;
  position: relative; }
  .top-banner .tb-block, .top-banner .bb-block, .bot-banner .tb-block, .bot-banner .bb-block {
    height: 592px;
    position: relative;
    background-size: cover !important; }
    @media (max-width: 600px) {
      .top-banner .tb-block, .top-banner .bb-block, .bot-banner .tb-block, .bot-banner .bb-block {
        height: 300px; } }
    .top-banner .tb-block .tb-text, .top-banner .tb-block .bb-text, .top-banner .bb-block .tb-text, .top-banner .bb-block .bb-text, .bot-banner .tb-block .tb-text, .bot-banner .tb-block .bb-text, .bot-banner .bb-block .tb-text, .bot-banner .bb-block .bb-text {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 90%;
      max-height: 95%;
      text-align: center;
      color: #fff;
      text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75); }
      @media (max-width: 940px) {
        .top-banner .tb-block .tb-text, .top-banner .tb-block .bb-text, .top-banner .bb-block .tb-text, .top-banner .bb-block .bb-text, .bot-banner .tb-block .tb-text, .bot-banner .tb-block .bb-text, .bot-banner .bb-block .tb-text, .bot-banner .bb-block .bb-text {
          top: 35%;
          max-height: 60%; } }
      @media (max-width: 600px) {
        .top-banner .tb-block .tb-text, .top-banner .tb-block .bb-text, .top-banner .bb-block .tb-text, .top-banner .bb-block .bb-text, .bot-banner .tb-block .tb-text, .bot-banner .tb-block .bb-text, .bot-banner .bb-block .tb-text, .bot-banner .bb-block .bb-text {
          top: 50%;
          max-height: 95%; } }
      .top-banner .tb-block .tb-text h2, .top-banner .tb-block .bb-text h2, .top-banner .bb-block .tb-text h2, .top-banner .bb-block .bb-text h2, .bot-banner .tb-block .tb-text h2, .bot-banner .tb-block .bb-text h2, .bot-banner .bb-block .tb-text h2, .bot-banner .bb-block .bb-text h2 {
        font-size: 76px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin: 0;
        padding: 0; }
        @media (max-width: 600px) {
          .top-banner .tb-block .tb-text h2, .top-banner .tb-block .bb-text h2, .top-banner .bb-block .tb-text h2, .top-banner .bb-block .bb-text h2, .bot-banner .tb-block .tb-text h2, .bot-banner .tb-block .bb-text h2, .bot-banner .bb-block .tb-text h2, .bot-banner .bb-block .bb-text h2 {
            font-size: 46px; } }
      .top-banner .tb-block .tb-text p, .top-banner .tb-block .bb-text p, .top-banner .bb-block .tb-text p, .top-banner .bb-block .bb-text p, .bot-banner .tb-block .tb-text p, .bot-banner .tb-block .bb-text p, .bot-banner .bb-block .tb-text p, .bot-banner .bb-block .bb-text p {
        font-size: 34px;
        font-weight: 300; }
        @media (max-width: 600px) {
          .top-banner .tb-block .tb-text p, .top-banner .tb-block .bb-text p, .top-banner .bb-block .tb-text p, .top-banner .bb-block .bb-text p, .bot-banner .tb-block .tb-text p, .bot-banner .tb-block .bb-text p, .bot-banner .bb-block .tb-text p, .bot-banner .bb-block .bb-text p {
            font-size: 22px; } }
        .top-banner .tb-block .tb-text p + h2, .top-banner .tb-block .bb-text p + h2, .top-banner .bb-block .tb-text p + h2, .top-banner .bb-block .bb-text p + h2, .bot-banner .tb-block .tb-text p + h2, .bot-banner .tb-block .bb-text p + h2, .bot-banner .bb-block .tb-text p + h2, .bot-banner .bb-block .bb-text p + h2 {
          margin-top: -10px; }
      .top-banner .tb-block .tb-text .minus-mt, .top-banner .tb-block .bb-text .minus-mt, .top-banner .bb-block .tb-text .minus-mt, .top-banner .bb-block .bb-text .minus-mt, .bot-banner .tb-block .tb-text .minus-mt, .bot-banner .tb-block .bb-text .minus-mt, .bot-banner .bb-block .tb-text .minus-mt, .bot-banner .bb-block .bb-text .minus-mt {
        margin-top: -40px; }
  .top-banner.case .tb-block .tb-text, .top-banner.case .tb-block .bb-text, .top-banner.case .bb-block .tb-text, .top-banner.case .bb-block .bb-text, .bot-banner.case .tb-block .tb-text, .bot-banner.case .tb-block .bb-text, .bot-banner.case .bb-block .tb-text, .bot-banner.case .bb-block .bb-text {
    position: relative;
    left: auto;
    top: auto;
    -webkit-transform: none;
            transform: none;
    text-align: left; }
    .top-banner.case .tb-block .tb-text h2, .top-banner.case .tb-block .bb-text h2, .top-banner.case .bb-block .tb-text h2, .top-banner.case .bb-block .bb-text h2, .bot-banner.case .tb-block .tb-text h2, .bot-banner.case .tb-block .bb-text h2, .bot-banner.case .bb-block .tb-text h2, .bot-banner.case .bb-block .bb-text h2 {
      margin-bottom: 20px; }
  .top-banner.case .cont, .bot-banner.case .cont {
    max-width: 1200px;
    padding: 110px 40px 0; }
    @media (max-width: 600px) {
      .top-banner.case .cont, .bot-banner.case .cont {
        padding: 40px 40px 0; } }

.bot-banner .bb-block {
  height: 303px; }
  @media (max-width: 940px) {
    .bot-banner .bb-block .bb-text {
      top: 50%;
      max-height: 90%; } }
  .bot-banner .bb-block .bb-text h2 {
    font-size: 30px;
    color: #012762;
    text-shadow: none;
    letter-spacing: 0; }
    @media (max-width: 600px) {
      .bot-banner .bb-block .bb-text h2 {
        font-size: 30px; } }
    .bot-banner .bb-block .bb-text h2 + p {
      margin-top: 25px; }
  .bot-banner .bb-block .bb-text p {
    font-size: 24px;
    font-weight: 100;
    color: #424242;
    text-shadow: none; }
    .bot-banner .bb-block .bb-text p a {
      color: #5ea1cc;
      text-decoration: underline; }
      .bot-banner .bb-block .bb-text p a:hover {
        text-decoration: none; }
    @media (max-width: 600px) {
      .bot-banner .bb-block .bb-text p {
        font-size: 18px; } }

.top-text {
  padding: 75px 0;
  text-align: center; }
  .top-text + .top-text {
    padding-top: 0; }
  .top-text .cont {
    max-width: 940px; }
  .top-text p {
    font-size: 18px;
    color: #424242;
    font-weight: 300;
    line-height: 1.7; }
    .top-text p b {
      font-weight: 600; }
    .top-text p + ul {
      margin-top: 45px; }
  .top-text .tt-title {
    font-size: 36px;
    line-height: 1.3;
    font-weight: bold;
    color: #012762;
    text-transform: uppercase;
    padding: 4px 0;
    margin-bottom: 35px; }
  .top-text .mt {
    margin-top: 10px;
    display: block; }
  .top-text + .tab-text {
    padding-top: 1px; }
  .top-text ul {
    list-style: none;
    font-size: 18px;
    color: #426084; }
    .top-text ul li + li {
      margin-top: 15px; }
  .top-text.case .cont {
    max-width: 890px; }

.expertise-list {
  position: relative; }
  .expertise-list .exp-tabs {
    position: absolute;
    left: 0;
    top: 513px;
    z-index: 10;
    width: 100%;
    height: 79px;
    background: rgba(10, 31, 46, 0.8); }
    @media (max-width: 940px) {
      .expertise-list .exp-tabs {
        top: 412px;
        height: auto; } }
    @media (max-width: 600px) {
      .expertise-list .exp-tabs {
        top: auto;
        position: relative; } }
    .expertise-list .exp-tabs .tabs-list {
      display: table;
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0; }
      @media (max-width: 940px) {
        .expertise-list .exp-tabs .tabs-list {
          display: block; } }
      .expertise-list .exp-tabs .tabs-list li {
        display: table-cell;
        width: 20%; }
        @media (max-width: 1200px) {
          .expertise-list .exp-tabs .tabs-list li {
            width: auto; } }
        @media (max-width: 940px) {
          .expertise-list .exp-tabs .tabs-list li {
            display: block; } }
      .expertise-list .exp-tabs .tabs-list a {
        display: block;
        text-align: center;
        line-height: 79px;
        font-weight: 600;
        font-size: 18px;
        color: #fff;
        text-transform: uppercase;
        position: relative; }
        .expertise-list .exp-tabs .tabs-list a:focus {
          text-decoration: none; }
        @media (max-width: 940px) {
          .expertise-list .exp-tabs .tabs-list a {
            line-height: 1;
            padding: 10px 0;
            font-size: 16px; } }
        .expertise-list .exp-tabs .tabs-list a:hover {
          text-decoration: none; }
          .expertise-list .exp-tabs .tabs-list a:hover:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 8px;
            background: #86ac01; }
            @media (max-width: 940px) {
              .expertise-list .exp-tabs .tabs-list a:hover:after {
                height: 4px; } }
      .expertise-list .exp-tabs .tabs-list .active a:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 8px;
        background: #86ac01; }
        @media (max-width: 940px) {
          .expertise-list .exp-tabs .tabs-list .active a:after {
            height: 4px; } }

.exp-highlights {
  display: block;
  text-align: center;
  background: #e2e8eb;
  padding: 10px 0 60px; }
  .exp-highlights .cont {
    max-width: 800px;
    padding-left: 0; }
  .exp-highlights.cols3 .cont {
    max-width: 1100px; }
  .exp-highlights.cols3 .col + .col {
    margin-left: 80px; }
    @media (max-width: 1030px) {
      .exp-highlights.cols3 .col + .col {
        margin-left: 20px; } }
  .exp-highlights.center .col {
    text-align: center; }

.exp-highlights .col, .tt-highlight .col {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 50px 20px 0;
  width: 250px; }
  .exp-highlights .col + .col, .tt-highlight .col + .col {
    margin-left: 220px; }
    @media (max-width: 1030px) {
      .exp-highlights .col + .col, .tt-highlight .col + .col {
        margin-left: 100px; } }
    @media (max-width: 800px) {
      .exp-highlights .col + .col, .tt-highlight .col + .col {
        margin-left: 20px; } }
  .exp-highlights .col .col-img, .tt-highlight .col .col-img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: -5px 5px 24px rgba(0, 39, 71, 0.2);
    position: relative;
    margin: 0 auto;
    background: #fff; }
    .exp-highlights .col .col-img img, .tt-highlight .col .col-img img {
      position: absolute;
      left: 50%;
      top: 50%;
      max-width: 90%;
      max-height: 90%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  .exp-highlights .col .col-title, .tt-highlight .col .col-title {
    font-size: 19px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    margin-top: 20px;
    line-height: 1.2; }
    .exp-highlights .col .col-title.tac, .tt-highlight .col .col-title.tac {
      text-align: center; }
  .exp-highlights .col ul, .tt-highlight .col ul {
    list-style: none;
    margin: 18px 0 0;
    padding: 0;
    font-size: 16px;
    color: #000; }
    .exp-highlights .col ul li + li, .tt-highlight .col ul li + li {
      margin-top: 8px; }
    .exp-highlights .col ul.wide, .tt-highlight .col ul.wide {
      width: 300px; }
      @media (max-width: 800px) {
        .exp-highlights .col ul.wide, .tt-highlight .col ul.wide {
          width: auto; } }

.tab-text {
  display: block;
  padding: 60px 0 100px; }
  .tab-text .tt-block {
    display: block;
    font-size: 18px;
    font-weight: 300;
    color: #424242;
    line-height: 1.7;
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden; }
    .tab-text .tt-block.mb + .mb {
      margin-top: 80px; }
    .tab-text .tt-block .tt-num {
      font-size: 40px;
      color: #a4b6c1;
      font-weight: bold;
      line-height: 1.1; }
      .tab-text .tt-block .tt-num + .tt-title {
        padding-top: 20px; }
    .tab-text .tt-block .tt-img {
      float: right;
      margin: 0;
      max-width: 50%;
      overflow: hidden; }
      .tab-text .tt-block .tt-img img {
        min-width: 100%;
        max-width: 100%; }
    .tab-text .tt-block.with-hightlights {
      padding-left: 0; }
    .tab-text .tt-block .exp-highlights {
      width: 50%;
      float: left;
      padding: 0 0 40px; }
      .tab-text .tt-block .exp-highlights .col {
        width: 210px;
        margin-top: 24px; }
        .tab-text .tt-block .exp-highlights .col ul li + li {
          margin-top: 3px; }
      @media (max-width: 800px) {
        .tab-text .tt-block .exp-highlights {
          width: auto;
          float: none;
          margin: 0 0 30px; } }
    .tab-text .tt-block .tt-text {
      margin: 0 50% 0 0;
      padding: 0 25px; }
    .tab-text .tt-block.left .tt-img {
      float: left;
      margin: 0; }
    .tab-text .tt-block.left .tt-text {
      margin: 0 0 0 50%;
      padding: 0 25px 0 40px; }
    .tab-text .tt-block:after {
      content: "";
      display: block;
      clear: both; }
    .tab-text .tt-block .tt-title {
      padding: 45px 0 0;
      margin-bottom: 35px;
      font-size: 30px;
      font-weight: bold;
      color: #012762;
      text-transform: uppercase;
      line-height: 1.1; }
    .tab-text .tt-block p br {
      line-height: 1; }
    .tab-text .tt-block p + ol {
      margin-top: 15px; }
    .tab-text .tt-block ul {
      list-style: none;
      margin: 0 0 0 10px;
      padding: 0;
      line-height: 1.4; }
      .tab-text .tt-block ul li {
        padding-left: 20px;
        position: relative; }
        .tab-text .tt-block ul li:before {
          content: "";
          display: block;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: #426084;
          position: absolute;
          left: 0;
          top: 10px; }
        .tab-text .tt-block ul li + li {
          margin-top: 15px; }
      .tab-text .tt-block ul.dash li:before {
        width: 6px;
        height: 1px;
        background: #000000;
        top: 12px; }
      .tab-text .tt-block ul ul {
        margin: 10px 0 0 0; }
        .tab-text .tt-block ul ul li + li {
          margin-top: 8px; }
      .tab-text .tt-block ul.mw {
        max-width: 450px; }
    @media (max-width: 1340px) {
      .tab-text .tt-block .tt-title {
        padding-top: 10px; } }
    @media (max-width: 1000px) {
      .tab-text .tt-block .tt-title {
        font-size: 24px;
        margin-bottom: 15px; }
      .tab-text .tt-block p {
        font-size: 16px;
        line-height: 1.5; }
      .tab-text .tt-block ol, .tab-text .tt-block ul {
        font-size: 16px; } }
    @media (max-width: 800px) {
      .tab-text .tt-block .tt-img {
        display: none; }
      .tab-text .tt-block .tt-text {
        margin: 0; }
      .tab-text .tt-block.left .tt-text {
        margin: 0; }
      .tab-text .tt-block p {
        line-height: 1.7; }
      .tab-text .tt-block.mb + .mb {
        margin-top: 30px; } }
  .tab-text .tt-btn {
    display: block;
    text-align: center;
    margin-top: 105px; }

.about-us-list {
  display: block;
  position: relative;
  text-align: center;
  padding: 20px 0 50px; }
  .about-us-list .cont {
    max-width: 1040px; }
  .about-us-list .col {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    max-width: 200px;
    margin: 0 23px 20px; }
    @media (max-width: 1040px) {
      .about-us-list .col {
        max-width: 40%; } }
    @media (max-width: 600px) {
      .about-us-list .col {
        max-width: 80%;
        margin: 0 10% 20px; } }
  .about-us-list .au-num {
    font-size: 36px;
    font-weight: bold;
    color: #a5b8c2;
    line-height: 1.1;
    margin-bottom: 4px; }
  .about-us-list .au-title {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 14px; }
  .about-us-list p {
    font-size: 15px;
    color: #424242;
    line-height: 1.65; }

.contact {
  position: relative;
  padding: 0; }
  @media (min-width: 600px) {
    .contact {
      padding: 65px 0 0; } }
  .contact:before {
    content: "";
    display: block;
    height: 130px;
    background: #0a1f2e;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; }
  .contact .top-tipsy {
    display: block;
    text-align: center;
    font-size: 17px;
    color: #424242;
    margin: 50px 0 40px; }
    .contact .top-tipsy + fieldset h5:first-child, .contact .top-tipsy + h5 {
      margin-top: 0; }
  .contact .tipsy {
    font-size: 15px;
    color: #424242;
    margin-bottom: 15px; }
  .contact .contact-bg {
    display: block;
    max-width: 770px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    background: #fff;
    padding: 20px 15px 45px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.36); }
    @media (min-width: 600px) {
      .contact .contact-bg {
        padding: 60px 75px 65px; } }
  .contact h2 {
    font-size: 30px;
    color: #012762;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    padding: 0;
    margin: 0;
    text-transform: uppercase; }
    @media (min-width: 600px) {
      .contact h2 {
        font-size: 34px;
        margin: 0 0 10px; } }
  .contact h5 {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    margin: 46px 0 16px;
    line-height: 1.2; }
    .contact h5 + .tipsy {
      margin-top: -10px; }
  .contact .form-actions {
    text-align: right;
    margin-top: 45px; }
    .contact .form-actions .btn {
      border: none; }
  .contact .cb-bottom {
    background: #e2e8eb;
    padding: 45px 15px; }
    @media (min-width: 600px) {
      .contact .cb-bottom {
        margin: 85px 0 0; } }
  .contact .contact-block {
    display: block;
    max-width: 850px;
    margin: 0 auto; }
    .contact .contact-block:after {
      content: "";
      display: block;
      clear: both; }
    @media (min-width: 900px) {
      .contact .contact-block .left, .contact .contact-block .right {
        float: left;
        width: 50%; } }
    .contact .contact-block .right {
      margin-top: 40px; }
      @media (min-width: 900px) {
        .contact .contact-block .right {
          padding-left: 20px;
          margin-top: 0; } }
    .contact .contact-block .cb-tile {
      display: block;
      position: relative;
      font-size: 15px;
      color: #000; }
      @media (min-width: 450px) {
        .contact .contact-block .cb-tile {
          padding-left: 165px; } }
      .contact .contact-block .cb-tile p {
        margin: 0;
        line-height: 1.7; }
        .contact .contact-block .cb-tile p + p {
          margin-top: 10px; }
      .contact .contact-block .cb-tile + .cb-tile {
        margin-top: 40px; }
      .contact .contact-block .cb-tile a {
        font-weight: bold;
        color: #5ea1cc;
        text-decoration: underline; }
        .contact .contact-block .cb-tile a:hover {
          text-decoration: none; }
      .contact .contact-block .cb-tile label {
        text-transform: uppercase;
        font-size: 18px;
        line-height: 1.4;
        color: #000000; }
        @media (min-width: 450px) {
          .contact .contact-block .cb-tile label {
            position: absolute;
            left: 0;
            top: 0; } }
  .vacancy-form .contact {
    max-width: 620px;
    margin: 0 auto;
    padding: 0 0 60px; }
    .vacancy-form .contact:before {
      display: none; }
    .vacancy-form .contact .form-actions {
      text-align: center; }
      .vacancy-form .contact .form-actions .btn + .btn {
        margin-left: 20px; }

.vacancy-form {
  display: none; }

.careers-select {
  margin-top: -10px;
  background: #e2e8eb;
  padding: 25px 0; }
  .careers-select .form-control {
    height: 50px;
    border-color: #a5b8c2;
    border-radius: 0;
    color: #012762;
    font-size: 15px;
    padding-right: 40px; }
  .careers-select .cont {
    max-width: 700px;
    position: relative; }
    .careers-select .cont:before {
      content: "";
      display: block;
      width: 30px;
      height: 48px;
      background: #fff;
      position: absolute;
      right: 11px;
      top: 1px;
      z-index: 4;
      pointer-events: none; }
    .careers-select .cont:after {
      content: "";
      display: block;
      width: 14px;
      height: 14px;
      border-left: 2px solid #9fb3bf;
      border-bottom: 2px solid #9fb3bf;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      position: absolute;
      right: 25px;
      top: 15px;
      z-index: 5;
      pointer-events: none; }

.careers-list {
  display: block;
  position: relative;
  padding: 20px 0 40px; }
  .top-text + .careers-list {
    margin-top: -55px; }
  .careers-list + .top-text {
    padding-top: 0; }
  .careers-list .career-line {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px; }
    @media (max-width: 600px) {
      .careers-list .career-line {
        display: block;
        margin-bottom: 20px;
        padding: 0 10px; } }
    .careers-list .career-line .cl-col {
      flex: 1 1 auto; }
      .careers-list .career-line .cl-col:last-child {
        text-align: right;
        flex: 0 0 auto; }
        @media (max-width: 600px) {
          .careers-list .career-line .cl-col:last-child {
            flex: none;
            text-align: left;
            margin-top: 5px; } }
      .careers-list .career-line .cl-col:first-child {
        width: 30%; }
        @media (max-width: 600px) {
          .careers-list .career-line .cl-col:first-child {
            width: 100%; } }
      @media (max-width: 600px) {
        .careers-list .career-line .cl-col {
          flex: none; } }
    .careers-list .career-line .career-title {
      color: #000000;
      font-size: 18px;
      font-weight: bold; }
    .careers-list .career-line .career-location {
      color: #424242;
      font-size: 15px;
      display: block; }
    .careers-list .career-line .btn-bordered {
      padding: 4px 40px 4px 20px;
      min-width: 155px; }

.vacancy-top {
  display: block;
  background: #e2e8eb;
  padding: 50px 0 25px; }
  .vacancy-top h2 {
    margin: 0;
    font-size: 30px;
    color: #012762;
    font-weight: bold;
    text-transform: uppercase; }
  .vacancy-top .vacancy-location {
    font-size: 15px;
    color: #012762;
    margin: 10px 0 0; }

.vacancy-description {
  font-size: 16px;
  font-weight: 100;
  color: #000000;
  line-height: 1.5;
  padding: 33px 0 60px; }
  .vacancy-description p, .vacancy-description ul, .vacancy-description ol {
    margin-bottom: 25px; }
  .vacancy-description ul li + li, .vacancy-description ul li ul, .vacancy-description ul li ol, .vacancy-description ol li + li, .vacancy-description ol li ul, .vacancy-description ol li ol {
    margin-top: 15px; }
  .vacancy-description h5 {
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    font-size: 18px;
    margin: 0 0 23px; }
  .vacancy-description .vd-block + .vd-block {
    margin-top: 55px; }
  .vacancy-description .btns {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 75px 0 0; }
    .vacancy-description .btns .left, .vacancy-description .btns .right {
      flex: 1 1 auto; }
    .vacancy-description .btns .right {
      text-align: right; }
      .vacancy-description .btns .right .btn {
        min-width: 169px; }
    @media (max-width: 600px) {
      .vacancy-description .btns {
        flex-direction: column-reverse; }
        .vacancy-description .btns .left, .vacancy-description .btns .right {
          width: 100%;
          text-align: right;
          margin-top: 10px; } }

.cs-lc {
  display: none; }

.cs-cl {
  display: block; }
